#noselect {
    user-select: none; 
  }
  
.container-table {
    display: table;
}


#game-background{
    background: #5297ac;
    width: 70%;
    height: 80%;
    z-index: -2;
    position:absolute;
    
}

#wrapper{
    position: absolute;
    z-index: 100;
}

#state-container{
    content: center;
    display: flex;
}

#play-state{
    box-sizing:border-box;
    margin: 0 auto;
    background: white;
    padding: 2em;
    padding-top: 1em;
    visibility: hidden;
}

#scoreBoard{
    display:table;
}

#terminate{
    display:none;
}

@media only screen and (max-width: 600px) {
    
    #game-background{
        background: #5297ac;
        width: 90%;
        height: 90%;
        z-index: -2;
        position:absolute;
        
    }
    #gameButtons{
        width : 5em;
        height: 5em;
    }
    
  }

  @media (min-width: 767px){
    #game-background{
        background: #5297ac;
        width: 70%;
        height: 80%;
        z-index: -2;
        position:absolute;
        
    }
    
}