.opaqueBox{
    opacity: 0.7;
}

#navBar{
    z-index: 10;
}
body{
    background-image: url("../img/yvr-background.jpg");
    background-size:     cover;                
    background-repeat:   no-repeat;
    background-position: center center;   
}

#centerWrap{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:-1;
}
.flightInfo{
    background-color:blue;
    
}
.flightInfoCon{
    width: 30%;
    margin: 20px;
}
#signin{
    width:80%;
}

#signCon{
    width:80%;
}