
.opaqueBox{
    background-color: rgba(255,255,255,0.8);
}
.modal-backdrop {
    opacity: 0;
    z-index: -1;
    background-color: rgba(79,79,81,100);
  }

.overflow-auto{
    max-width: 90%;
    max-height: 90%;
}

.adminButton{
    background-color: #86BBD8;
    border-color: #86BBD8;
}
body{
    background-image: url("../img/yvr-background.jpg");
    background-size:     cover;                
    background-repeat:   no-repeat;
    background-position: center center; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
      
}

#centerWrap{
    justify-content: space-around;
}
.flightInfo{
    background-color:blue;
}
.flightInfoCon{
    width: 30%;
    margin: 20px;
}
#signin{
    width:80%;
}

#signCon{
    width:80%;
}

#signUpMoment{
    display: none;
}

#carrierResults{
    font-size: 0.8em;
}