body {
	margin: 0;
	background-color: #8fdcb9;
}
#form{
    position: absolute;
    margin: auto;
    top: 40%;
    left: 50%;
    margin: -100px 0 0 -150px;
    background-color: #E8A87C;
    padding: 5em;
}